/* GENERAL */

body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #535b60;
    background: #f5f5f2;
}

section
{
    padding: 10px 0;
}

.carousel-inner
{

}

.carousel-inner .item img, .carousel-inner .item a img
{
    margin: auto;
    margin-top: 50px;
}

.carousel-control.left, .carousel-control.right
{
    background-image: none;
    color: #C4CFE5;
}

.carousel-indicators li
{
    border-color: #C4CFE5;
}
.carousel-indicators li.active
{
    background-color: #C4CFE5;
}

/* MENU */
.navbar
{
    background: #000;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.navbar-brand
{
    color: #fff !important;
    font-size: 200%;
    padding-left: 40px;
}

.navbar .navbar-nav
{
    display: inline-block;
    vertical-align: top;
    float: right;
}

.navbar .navbar-collapse
{
    text-align: center;
}

.navbar li a
{
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a
{
    color: #000 !important;
    background-color: #fff !important;
}

.icon-bar
{
    background-color: #fff !important;
}

/* TITLE */
#title
{
    padding: 45px 0 10px 0;
}

/* INTRODUCTION */
#introduction
{
    background-color: #fff;
}

.intro-block
{
    margin: 10px auto;
    padding: 10px 30px;
    background-color: #f5f5f2;
}

/* DOCUMENTATION */
.code
{
    background-color: #fff;
    border: 2px solid #C4CFE5;
    border-radius: 5px;
    word-spacing: 5px;
}

.code ul
{
    list-style-type: none;
    padding: 4px 8px;
}

#documentation p
{
    margin: 10px auto;
}

/* REFERENCES */
#references
{
    background-color: #fff;
}

#references p
{
	margin:0;
}

#references li
{
	margin:1em 0;
}

#references li span
{
	font-style:italic;
}

/* LICENSE */

/* CONTACT */
#contact
{
    background-color: #fff;
}

/* ACKNOWLEDMENTS */
#acknowledgments
{
    
}

#acknowledgments .row
{
    margin: 20px auto;
    text-align: center;
}


/* FOOTER */
footer
{
    background: #000;
    padding: 20px 0 10px 0;
}
footer .glyphicon
{
    font-size:  25px;
    color: #f5f5f2;
}
footer .glyphicon:hover
{
    font-size:  27px;
}
footer h5
{
    color: #fff;
    font-weight: normal;
}